li {
    width: 600px ;
    text-align: center;
    justify-content: center;

}
div{

    margin : auto;
}

.visible{
    display: inline;
}

.invisible{
    display: none;
}

.li-Head {
    background-color: black ;
    color: white ;

}

ul{
 display: flex;
 margin: auto;
 justify-content: center;
}

h1{
    text-align: center;
}

#zoneErreur {
    color: red;
}